### IntelliJ IDEA ###
out/
.idea/*
!.idea/modules.xml
!.idea/vcs.xml
!.idea/.gitignore

*.iml
*.ser

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/
